<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="grouByColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="grouByColumns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="MES"/>
                <entry key="1" type="xstring" value="PER"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="111"/>
                <entry key="0" type="xstring" value="PERIODO"/>
                <entry key="1" type="xstring" value="DIRECTORIO"/>
                <entry key="2" type="xstring" value="SECUENCIA_P"/>
                <entry key="3" type="xstring" value="ORDEN"/>
                <entry key="4" type="xstring" value="HOGAR"/>
                <entry key="5" type="xstring" value="P3076S1"/>
                <entry key="6" type="xstring" value="P3076S1A1"/>
                <entry key="7" type="xstring" value="P3076S1A2"/>
                <entry key="8" type="xstring" value="P3076S2"/>
                <entry key="9" type="xstring" value="P3076S2A1"/>
                <entry key="10" type="xstring" value="P3076S2A2"/>
                <entry key="11" type="xstring" value="P3076S3"/>
                <entry key="12" type="xstring" value="P3076S3A1"/>
                <entry key="13" type="xstring" value="P3076S3A2"/>
                <entry key="14" type="xstring" value="P3077S1"/>
                <entry key="15" type="xstring" value="P3077S1A1"/>
                <entry key="16" type="xstring" value="P3077S1A2"/>
                <entry key="17" type="xstring" value="P3077S2"/>
                <entry key="18" type="xstring" value="P3077S2A1"/>
                <entry key="19" type="xstring" value="P3077S2A2"/>
                <entry key="20" type="xstring" value="P3077S3"/>
                <entry key="21" type="xstring" value="P3077S3A1"/>
                <entry key="22" type="xstring" value="P3077S3A2"/>
                <entry key="23" type="xstring" value="P3078S1"/>
                <entry key="24" type="xstring" value="P3078S1A1"/>
                <entry key="25" type="xstring" value="P3078S1A2"/>
                <entry key="26" type="xstring" value="P3078S2"/>
                <entry key="27" type="xstring" value="P3078S2A1"/>
                <entry key="28" type="xstring" value="P3078S2A2"/>
                <entry key="29" type="xstring" value="P3078S3"/>
                <entry key="30" type="xstring" value="P3078S3A1"/>
                <entry key="31" type="xstring" value="P3078S3A2"/>
                <entry key="32" type="xstring" value="P3079S1"/>
                <entry key="33" type="xstring" value="P3079S1A1"/>
                <entry key="34" type="xstring" value="P3079S1A2"/>
                <entry key="35" type="xstring" value="P3079S2"/>
                <entry key="36" type="xstring" value="P3079S2A1"/>
                <entry key="37" type="xstring" value="P3079S2A2"/>
                <entry key="38" type="xstring" value="P3079S3"/>
                <entry key="39" type="xstring" value="P3079S3A1"/>
                <entry key="40" type="xstring" value="P3079S3A2"/>
                <entry key="41" type="xstring" value="P3081S1"/>
                <entry key="42" type="xstring" value="P3081S1A1"/>
                <entry key="43" type="xstring" value="P3081S1A2"/>
                <entry key="44" type="xstring" value="P3081S2"/>
                <entry key="45" type="xstring" value="P3081S2A1"/>
                <entry key="46" type="xstring" value="P3081S2A2"/>
                <entry key="47" type="xstring" value="P3081S3"/>
                <entry key="48" type="xstring" value="P3081S3A1"/>
                <entry key="49" type="xstring" value="P3081S3A2"/>
                <entry key="50" type="xstring" value="P3082S1"/>
                <entry key="51" type="xstring" value="P3082S1A1"/>
                <entry key="52" type="xstring" value="P3082S1A2"/>
                <entry key="53" type="xstring" value="P3082S2"/>
                <entry key="54" type="xstring" value="P3082S2A1"/>
                <entry key="55" type="xstring" value="P3082S2A2"/>
                <entry key="56" type="xstring" value="P3082S3"/>
                <entry key="57" type="xstring" value="P3082S3A1"/>
                <entry key="58" type="xstring" value="P3082S3A2"/>
                <entry key="59" type="xstring" value="P3083"/>
                <entry key="60" type="xstring" value="P3083S1"/>
                <entry key="61" type="xstring" value="P3084"/>
                <entry key="62" type="xstring" value="P3085"/>
                <entry key="63" type="xstring" value="P3086"/>
                <entry key="64" type="xstring" value="P3086S1"/>
                <entry key="65" type="xstring" value="P3087"/>
                <entry key="66" type="xstring" value="P3087S1"/>
                <entry key="67" type="xstring" value="P3088"/>
                <entry key="68" type="xstring" value="P3089"/>
                <entry key="69" type="xstring" value="P3089S1"/>
                <entry key="70" type="xstring" value="P3089S2"/>
                <entry key="71" type="xstring" value="P3089S3"/>
                <entry key="72" type="xstring" value="P3091S1"/>
                <entry key="73" type="xstring" value="P3091S2"/>
                <entry key="74" type="xstring" value="P3092S1"/>
                <entry key="75" type="xstring" value="P3092S2"/>
                <entry key="76" type="xstring" value="P3093S1"/>
                <entry key="77" type="xstring" value="P3093S2"/>
                <entry key="78" type="xstring" value="P3094"/>
                <entry key="79" type="xstring" value="P3094S1"/>
                <entry key="80" type="xstring" value="P3094S2"/>
                <entry key="81" type="xstring" value="P3094S3"/>
                <entry key="82" type="xstring" value="P3095"/>
                <entry key="83" type="xstring" value="P3095S1"/>
                <entry key="84" type="xstring" value="P3095S2"/>
                <entry key="85" type="xstring" value="P3095S3"/>
                <entry key="86" type="xstring" value="P3096"/>
                <entry key="87" type="xstring" value="P3096S1"/>
                <entry key="88" type="xstring" value="P3096S2"/>
                <entry key="89" type="xstring" value="P3096S3"/>
                <entry key="90" type="xstring" value="P3097"/>
                <entry key="91" type="xstring" value="P3097S1"/>
                <entry key="92" type="xstring" value="P3097S2"/>
                <entry key="93" type="xstring" value="P3098"/>
                <entry key="94" type="xstring" value="P3098S1"/>
                <entry key="95" type="xstring" value="P3098S2"/>
                <entry key="96" type="xstring" value="P3099"/>
                <entry key="97" type="xstring" value="P3099S1"/>
                <entry key="98" type="xstring" value="P3099S2"/>
                <entry key="99" type="xstring" value="P3101"/>
                <entry key="100" type="xstring" value="P3101S1"/>
                <entry key="101" type="xstring" value="P3101S2"/>
                <entry key="102" type="xstring" value="CLASE"/>
                <entry key="103" type="xstring" value="AREA"/>
                <entry key="104" type="xstring" value="DPTO"/>
                <entry key="105" type="xstring" value="P3091"/>
                <entry key="106" type="xstring" value="P3092"/>
                <entry key="107" type="xstring" value="P3093"/>
                <entry key="108" type="xstring" value="FEX_C18"/>
                <entry key="109" type="xstring" value="REGIS"/>
                <entry key="110" type="xstring" value="Iteration"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="maxNoneNumericalVals_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNoneNumericalVals" type="xint" value="10000"/>
        <config key="enableHilite_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableHilite" type="xboolean" value="false"/>
        <config key="sortInMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sortInMemory" type="xboolean" value="false"/>
        <config key="aggregationColumn">
            <config key="columnNames">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="FEX_C18"/>
                <entry key="1" type="xstring" value="DIRECTORIO"/>
            </config>
            <config key="columnTypes">
                <entry key="array-size" type="xint" value="2"/>
                <config key="0">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="1">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
            <config key="aggregationMethod">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="Sum_V2.5.2"/>
                <entry key="1" type="xstring" value="Count"/>
            </config>
            <config key="inclMissingVals">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xboolean" value="false"/>
                <entry key="1" type="xboolean" value="true"/>
            </config>
        </config>
        <config key="aggregationOperatorSettings"/>
        <config key="patternAggregators"/>
        <config key="dataTypeAggregators"/>
        <config key="columnNamePolicy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnNamePolicy" type="xstring" value="Aggregation method (column name)"/>
        <config key="retainOrder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="retainOrder" type="xboolean" value="false"/>
        <config key="inMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="inMemory" type="xboolean" value="false"/>
        <config key="valueDelimiter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="valueDelimiter" type="xstring" value=", "/>
        <config key="nodeVersion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="nodeVersion" type="xint" value="1"/>
        <entry key="typeMatch" type="xbyte" value="0"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.groupby.GroupByNodeFactory"/>
    <entry key="node-name" type="xstring" value="GroupBy"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.0.v202301251625"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.2.v202303231026"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="GroupBy"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
